.counter-container {
    display: flex;
    margin: 10px;
    list-style:none;
    justify-content: space-around;
    flex-wrap: wrap;
}

.counter-buttons {
    border-radius: 15px;
    background: rgb(13, 219, 185); 
    padding: 5px;
    width: 9%; 
    height: 75px;
    margin-top: 1px;  
}

.counter-buttons-val {
    text-align: center;
    line-height: 75px;
    color: black;
    font-weight: bold; 
    font-size: 2em; 
}

.button-activated{
    background-color: red;
}